__pycache__/
.vscode
.ipynb_checkpoints
.DS_Store
.coverage
.idea

src/main
gmon.out
gprof.txt
/pocketpy
amalgamated
web/lib

*.so
*.dll
plugins/unity/
plugins/macos/pocketpy/pocketpy.*
include/pocketpy/_generated.h
profile.sh
test
src/httplib.h
main.exe
main.obj
pocketpy.exp
pocketpy.lib
APPS
build

pocketpy.dSYM
main

pypi/
libpocketpy.dylib

.xmake/

