__pycache__/
.vscode
.ipynb_checkpoints
.DS_Store
.coverage
.idea
.cache/clangd/

gmon.out
gprof.txt
amalgamated
web/lib

*.a
*.so
*.dll
*.dylib

plugins/unity/
plugins/macos/pocketpy/pocketpy.*
main.exe
main.obj
pocketpy.exp
pocketpy.lib
APPS
build

main
*.dSYM

docs/references.md

.xmake
.vs

tests/00_tmp.py
docs/C-API/functions.md

*.log


cmake-build-*
tmp/
profiler_report.json
